
__pycache__/functions.cpython-37.pyc
*.pyc
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/BrawlersStart-Simulate.iml
.idea/misc.xml
*.xml
*.iml
players/s
players/p
players/my cards
players/k
